/* ---------------------------Body and Wrapper-------------------------- */

body {
	color: black;
	font: 100%/1.5 "Helvetica Neue", Arial, Verdana, sans-serif;
	max-width: 790px;
	margin: 20px auto;
	background-color: orange;
	border: 1px solid black;
}

#wrapper {
	font-size: 0.8125em; /*13px*/
	width: 100%; /*790px*/
	margin: 0 auto;
	overflow: hidden;
	
}

/* ---------------------------Headers-------------------------- */

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}
	
h1 { 
	text-indent: -99999px
}

h2 {
	font-family: 'Lobster Two', cursive;
	font-size: 1.923076923em; /*25px*/
}

h3 {
	font-family: 'Lobster Two', cursive;
	font-size: 1.538461538em; /*20px*/
}


header {
	background: white;
	height: 114px;
	width: 100%
}

header img {
	float: left;
}


#logo_wrapper {
	float: left;
	width: 34.8101266%;
}

#logo_wrapper img {
	max-width: 100%;
}

/* ---------------------------Navigation-------------------------- */

nav {
	padding-top: 2.5316456%; /*20px*/
}

nav ul {
	list-style-type: none;
	margin: 2.1518987%; /*17px*/
	padding: 1.0126582%; /*8px*/
	overflow: hidden;
}

nav li {

	float: right;
	margin: .6329114%; /*5px*/
}

nav a {
	display: block;
	background: #55e3f8;
	color: black;
	height: 20px;
	width: 120px;
	padding: 5px;
	text-decoration: none;
	text-align: center;
	border-bottom: 2px solid black;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

nav a:visited {
	background: #55e3f8;
	color: black;
}

nav a:hover {
	background: orange;
	color: white;
}

nav a:active {
	background: #e7fcfe;
	color: black;
}


/* ---------------------------CTA-------------------------- */

#intro {
	float: left;
	background: #fff6e5;
	padding: 5.0632911% 1.8987342%; /*40px 15px*/
	border-top: 1px solid black;
	width: 100%;
	overflow: hidden;
}


#intro img {
	float: right;
}

#cta_container {
	float: right;
	width: 50.6329114%; /*400px*/
}

#cta_container img {
	max-width: 100%;
}


/* ---------------------------Gallery-------------------------- */

#gallery_wrapper1 {
	width: 78.9473684%; /*75px*/
}

#gallery_wrapper1 img {
	max-width: 100%;
}

#gallery_wrapper2 {
	width: 78.9473684%; /*75px*/
}

#gallery_wrapper2 img {
	max-width: 100%;
}

#gallery_wrapper3 {
	width: 78.9473684%; /*75px*/
}

#gallery_wrapper3 img {
	max-width: 100%;
}

#gallery_wrapper4 {
	width: 78.9473684%; /*75px*/
}

#gallery_wrapper4 img {
	max-width: 100%;
}

aside {
	background: white;
	float: left;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	width: 27.3417722%; /*216px*/
	height: 500px;
	padding: 1.8987342%; /*15px*/
	overflow: hidden;
	clear: left;
}

aside ul {
	border: 1px dashed #666;
	list-style-type: none;
	padding: .9259259% .9259259% 2.3148148% 2.3148148%; /*2px 2px 5px 5px*/
	margin: 9.2592593% auto; /*20px*/
	overflow: hidden;
	width: 43.9814815%; /*95px*/
	
}

aside li {
	margin: .8860759% 0; /*7px*/
	padding: 2.3148148%; /*5px*/

}

aside a {
	border: 5px solid orange;
	display: block;
}

aside a:hover {
	border: 5px solid #1cd6e5;
}

aside a:active {
	border: 5px solid black;
}


/* ---------------------------Main Content-------------------------- */

#history {
	background-image: url(../images/gradientbg.jpg);
	float: left;
	padding: 1.8987342%; /*15px*/
	width: 64.9367089%; /*513px*/
	border-left: 1px solid black;
	border-top: 1px solid black;
	overflow: hidden;
}

#health {
	background: #e7fcfe;
	padding: 1.8987342%; /*15px*/
	float: left;
	width: 64.9367089%; /*513px*/
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	overflow: hidden;
}


article {
	background: white; opacity: .9;
	padding: 1.8987342%; /*15px*/
	clear: both;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	overflow: hidden;}

article h3 {
	text-shadow: 3px 2px #dbdddc;
}

#date {
	font-family: courier, monotype;
}

#author {
	text-align: right;
	font-weight: bold;
}

footer {
	padding: .6329114%; /*5px*/
	background: #e7fcfe;
	border-top: 1px solid black;
}

footer p {
	text-align: center;
}

footer a {
	color: black;
	font-size: .6875em;
}

/* ---------------------------Media Queries-------------------------- */

/*Tablet Portrait size up to standard 960 (devices and browsers)*/

@media screen and (min-width: 768px) and (max-width: 959px){
	footer a {display: none;}
	article {	
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;}
	#history {background-color: #e7fcfe; background-image: none;}

}

/*Mobile Lanscape size to Tablet Portrait (devices and browsers)*/

@media only screen and (min-width: 480px) and (max-width: 767px){
	nav a {width: 75px; float: left;}
	aside {width: 100%; float:none; height: 250px;}
	aside ul {border: none; width: auto;}
	aside li {float: left;}
	#history {width: 100%; float: none; background-image: none; background-color: #e7fcfe;}
	#health {width: 100%;}
	article {	
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;}
	
}

/*Mobile Portrait size to Mobile Landscape size (devices and browsers)*/

@media only screen and (max-width: 479px){
	body {background-color: white;}
	nav {width: 100%; margin: auto; padding: auto; float: left;}
	nav a {width: 75px; float: left;}
	#cta_container {display: none;}
	aside {width: 100%; float:none; height: auto;}
	aside ul {border: none; width: 100%;}
	aside li {float: left;}
	#history {width: 100%; float: none; background-image: none; background-color: #e7fcfe;}
	#health {width: 100%;}
	article {	
	background: #fff6e5; background-opacity: none;
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;}

}


/* ---------------------------Button-------------------------- */

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}


.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a'); 